.top-banner{
    background: url(https://st4.depositphotos.com/24046444/25509/v/600/depositphotos_255095564-stock-video-abstract-animated-business-presentation-background.jpg);
    background-size: cover;
}

.suggest{
    max-width: 340px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.brands-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}


/* https://st4.depositphotos.com/24046444/25509/v/600/depositphotos_255095564-stock-video-abstract-animated-business-presentation-background.jpg */