.top-banner{
    background: url(https://st4.depositphotos.com/24046444/25509/v/600/depositphotos_255095564-stock-video-abstract-animated-business-presentation-background.jpg);
    background-size: cover;
}
.find-listing{
    max-width: 507px;
    background-color: #04203d;
    padding: 40px 20px;
    border-radius: 20px;
}
.find-listing select, .inputSearch{
    background-color: #05203d;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
}
.search-container{
    position: relative;
}
.submitBtn{
    position: absolute;
    background: none;
    color: white;
    border: none;
    top: 16px;
    right: -4px;
    font-size: 16px;
}

.brands-section{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #04203d;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.brands-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

@media (min-width: 0px) and (max-width: 450px){
    .brands-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}
@media (min-width: 450px) and (max-width: 600px){
    .brands-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
}
@media (min-width: 600px) and (max-width: 767px){
    .brands-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
    }
}
@media (min-width: 767px) and (max-width: 992px){
    .brands-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
    }
}